@import url('https://fonts.googleapis.com/css?family=Raleway:&display=swap');
.pt-serif{font-family: 'Raleway', sans-serif; font-weight: 600;}
.pt-serif-l{font-family: 'Raleway', sans-serif;}

.wrap{max-width: 99%; margin: 0 auto;}


/* media */
/* 0~575 - 스마트폰 세로 */


.logo-img{height: 70%; width: auto;}
.navi-wrap{display: none;}
.navi-sub{position: absolute; top:55px; left: -10px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub2{position: absolute; top:55px; left: -313px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub3{position: absolute; top:55px; left: -587px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub2 > .navi-sub-col {width: 1880px; min-height: 400px;}
.navi-sub3 > .navi-sub-col {width: 1880px; min-height: 300px;}
#col1{width:250px; min-height: 300px;}
#col2{width:250px; min-height: 400px;}
#col3{width:250px; min-height: 100px;}
#col4{width:250px; min-height: 200px;}
.navi-sub > .sub{position: absolute; }


.n-line{position: absolute; width: 3rem; top: 0.75rem; left: 0; display: block; border: 1px solid #e7a39a5d;}
.n-line-2{position: absolute; width: 3rem; top: 1rem; left: 1rem; display: none; border: 1px solid #e7a39a5d;}

.link-wrap > li{cursor: pointer; transition: all 0.5s;}
.link-wrap > li:hover{color: #7c7c7c;}


.main-wrap{overflow: hidden;}
.main-cont{width: 70%;}
.m-line{display: block; width: 40px; height:1px; background-color: black;}

.bt-m{background-color: #222; color: #f1f1f1; padding: 1.3rem 2.5rem; letter-spacing: 0.25rem; cursor: pointer;
transition: all 0.5s;}
.bt-m:last-child{background-color: #eedcda; color: #222;}
.bt-m:hover{background-color:#eedcda; color: #222;}
.bt-m:last-child:hover{background-color: #222; color: #f1f1f1;}

.page {font-family:'Courier New', Courier, monospace; transition: all 0.5s; cursor: pointer;}
.page:hover {color: #7c7c7c;}
.page:last-child {margin: 0 0;}

.prt-wrap{margin: 6rem auto;}
.prt-line{display: block; width: 2rem; height: 1px; background-color: #222;}
.prt{ flex: 24.5% 0 1;}
.prts .prt-tit{transition: all 0.5s;}
.prts .prt-tit:hover{color: #7c7c7c;}
.prt-imgs {height: 20rem; transition: all 1s;}
.prt-img{position: absolute; transition: all 1s;}
.prt-imgs .prt-icons {margin: 45% 33.33%;}
.prt-imgs .prt-icon {width: 2rem; height: 1.8rem; text-align: center; z-index: 999;
	background-color: #fff; border: 1px solid #222; transition: all 0.5s; cursor: pointer; opacity: 0;}
.prt-imgs .prt-icon:hover{background-color: #222; color: #fff;}

.concept-wrap{width: 100%; height: 40rem; position: static; background-attachment: fixed; background: url(/img/h1-img-1.jpg) no-repeat;
	 background-position: 50% center; background-size: cover; margin: 0 auto;}
.concepts{margin: 5% 10% 5% 15%;}
.concepts .m-line{margin: 0.5rem 0; background-color: #fff;}

.deco-wrap{margin: 10rem 0; display: flex;  justify-content: center;}
.deco{padding: 4rem 3rem;}

/* 576~767까지 - sm - 스마트폰 가로 */
@media screen and (min-width:576px) {

}

/* 768~991 - md - 태블릿 세로 */
@media screen and (min-width:768px){

}

/* 992~1199 - lg - 태블릿 가로 */
@media screen and (min-width:992px){
	.navi-wrap{display: flex;}
}
/* 1200~ - xl - PC */
@media screen and (min-width:1200px){}
