@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway|Palanquin+Dark&display=swap');
/* font-family: 'Poppins', sans-serif; 
   font-family: 'Palanquin Dark', sans-serif; */
.pt-serif{font-family: 'Raleway', sans-serif; font-weight: 600;}
.pt-serif-l{font-family: 'Raleway', sans-serif;}

.wrap{max-width: 99%; margin: 0 auto;}


/* media */
/* 0~575 - 스마트폰 세로 */

.top-wrap{justify-content: center; margin-top: 1rem; margin-left: 2rem;}
.logo-bars{position: absolute; left: 1rem; transition: all 0.5s; cursor: pointer;}
.logo-bars:hover{color: #7c7c7c;}
.logo-cart{position: absolute; right: 1rem;}
.logo-img{height: 70%; width: auto;}
.navi-wrap{display: none;}
.navi-sub{position: absolute; top:55px; left: -10px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub2{position: absolute; top:55px; left: -345px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub3{position: absolute; top:55px; left: -618px; z-index: 9999; display: flex; background-color: #fff; display: none;}
.navi-sub2 > .navi-sub-col {width: 1880px; min-height: 400px;}
.navi-sub3 > .navi-sub-col {width: 1880px; min-height: 300px;}
#col1{width:250px; min-height: 300px;}
#col2{width:250px; min-height: 400px;}
#col3{width:250px; min-height: 100px;}
#col4{width:250px; min-height: 200px;}
.navi-sub > .sub{position: absolute; }


.menu{width: 30rem; height: 70rem; background-color: #fff7f6; z-index: 10000; right: -30rem; top: 0;}
.closes{text-align: right; transition: all 0.5s;}
.closes:hover{color: #7c7c7c;}
.menu-logo{margin-bottom: 3rem; margin-right: 12rem;}
.menu-ins{border: none; padding: 1rem 13rem 1rem 1rem; letter-spacing: 0.1rem;}
.menu-bt{border: none; background-color: #222; color: #fff; padding: 0.8rem 2rem; letter-spacing: 0.2rem; margin: 1.5rem 15.6rem; transition: all 0.5s;}
.menu-bt:hover{background-color: #f1f1f1; color: #222;}
.menu-img{width: 50%; cursor: pointer; transition: all 0.5s;}
.menu-img:hover{opacity: 0.6;}
.menu-insta{background-color: #fff; padding: 1.5rem 3rem; z-index: 9999;}

.n-line{position: absolute; width: 3rem; top: 0.75rem; left: 0; display: block; border: 1px solid #e7a39a5d;}
.n-line-2{position: absolute; width: 3rem; top: 1rem; left: 1rem; display: none; border: 1px solid #e7a39a5d;}
.n-line-3{position: absolute; width: 3rem; top: 1rem; left: 15rem; display: none; border: 1px solid #e7a39a5d;}
.n-line-4{position: absolute; width: 3rem; top: 1rem; left: 16rem; display: none; border: 1px solid #e7a39a5d;}
#line1{left: 42rem;}
#line2{left: 67.5rem;}
#line3{left: 94.5rem;}
#line4{left: 43rem;}
#line5{left: 69rem;}
#line6{left: 94rem;}


.link-wrap > li{display: none; cursor: pointer; transition: all 0.5s;}
.link-wrap > li:hover{color: #7c7c7c;}


.main-wrap{overflow: hidden;}
.main-cont{width: 70%;}
.m-line{display: block; width: 40px; height:1px; background-color: black;}

.bt-m{background-color: #222; color: #f1f1f1; padding: 1.3rem 2.5rem; letter-spacing: 0.25rem; cursor: pointer;
transition: all 0.5s;}
.bt-m:last-child{background-color: #eedcda; color: #222;}
.bt-m:hover{background-color:#eedcda; color: #222;}
.bt-m:last-child:hover{background-color: #222; color: #f1f1f1;}

.page {font-family:'Courier New', Courier, monospace; transition: all 0.5s; cursor: pointer;}
.page:hover {color: #7c7c7c;}
.page:last-child {margin: 0 0;}

.prt-new{background-color: #fceae8; z-index: 999; top: 6rem; left:20rem; width: 4rem; height: 1rem; font-weight: bold; letter-spacing: 0.1rem; text-align: center;}
.prt-sale{background-color: #fceae8; z-index: 999; top: 76rem; left:20rem; width: 4rem; height: 1rem; font-weight: bold; letter-spacing: 0.1rem; text-align: center;}
.prt-wrap{margin: 6rem auto; position: relative;}
.prt-line{display: block; width: 2rem; height: 1px; background-color: #222;}
/* .prt{ flex: 90% 0 1;} */
.prts .prt-tit{transition: all 0.5s;}
.prts .prt-tit:hover{color: #7c7c7c;}
.prt-imgs {height: 30rem; transition: all 1s;}
.prt-img{position: absolute; transition: all 1s;}
.prt-imgs .prt-icons {margin: 45% 33.33%;}
.prt-imgs .prt-icon {width: 2rem; height: 1.8rem; text-align: center; z-index: 999;
	background-color: #fff; border: 1px solid #222; transition: all 0.5s; cursor: pointer; opacity: 0;}
.prt-imgs .prt-icon:hover{background-color: #222; color: #fff;}

.concept-wrap{min-height: 400px; position: relative; background-attachment: fixed; background-image: url(../img/h1-img-1.jpg); background-repeat: no-repeat;
	 background-position: 50% center; background-size: cover; margin: 0 auto;}
.concepts{margin: 5% 10% 5% 15%;}
.concepts .m-line{margin: 0.5rem 0; background-color: #fff;}

.deco-wrap{margin: 10rem 0; justify-content: center;}
.deco{padding: 4rem 3rem; top: 0;}

.slides{height: 20rem;}
.slide-ins{top: 5rem; z-index: 999;}
.slide-bg{color: #e4e4e4; position: absolute; z-index: 99; margin: 0 40%; font-size: 12rem; font-family: 'Palanquin Dark', sans-serif;}
.slide-pager{position: absolute; z-index: 9999; transition: all 0.5s; top: 10rem;}
#p-right{right: 2rem;}
.slide-pager:hover{color: #7c7c7c;}
.slide-cont{margin: 15rem 10rem;}
.slides h5{color: #7c7c7c;}

.blog-wrap{max-width: 1300px; margin: 0 auto; margin-bottom: 10rem;}
.blog{transition: all 0.5s; flex: 90% 0 1;}
.blog-box{width: calc(100% - 4rem); height: 12rem; padding: 2rem; background-color: #fff; color: #222; bottom:2rem; left: 2rem; right: 2rem; z-index: 999;}

.footer{position: relative; height: 25rem; width: 100%; background-color: #222; color: #fff;}

.bt-top{position: fixed; bottom: -4.5rem; right: 1rem; z-index: 9999; background-color: #eedcda; padding: 0.5rem 1rem; cursor: pointer; transition: all 0.5s;}
.bt-top:hover{ background-color: #222; color: #fff;}
.bt-top-show{transform: translateY(-7rem);}

/* 576~767까지 - sm - 스마트폰 가로 */
@media screen and (min-width:576px) {
	.logo-bars{display:block;}
	.logo{display :flex;}
	.navi-wrap{display: none;}
	.link-wrap > li {display: none;}
	.prt-imgs {height: 15rem; transition: all 1s;}
	.prt-new{left:13rem;}
  .prt-sale{top:26rem; left:13rem;}
}

/* 768~991 - md - 태블릿 세로 */
@media screen and (min-width:768px){
	.prt-imgs {height: 10rem; transition: all 1s;}
	.prt-new{left:9rem;}
  .prt-sale{top:6rem;left:30rem;}
}

/* 992~1199 - lg - 태블릿 가로 */
@media screen and (min-width:992px){
	.top-wrap{justify-content: space-between;}
	.logo{justify-content: stretch;}
	.logo-bars{display:none;}
	.logo-cart{display:none;}
	.logo > .logo-img{margin: 0;}
	.navi-wrap{display: flex;}
	.link-wrap > li {display: flex;}
	.blog{transition: all 0.5s; flex: 40% 0 1;}
	.prt-imgs {height: 20rem; transition: all 1s;}
	.prt-new{left:14rem;}
  .prt-sale{left:40rem;}
	/* .prt{ flex: 24.5% 0 1;} */
}
/* 1200~ - xl - PC */
@media screen and (min-width:1200px){
	.prt-new{left:14rem;}
  .prt-sale{left:47rem;}
}
